<h1>My Feeds</h1>

<%= for feed <- @feeds do %>
  <a href="<%= feed_path(@conn, :show, feed) %>">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><%= feed.name %></h4>
        <h5><%= feed.author %></h5>
      </div>
    </div>
  </a>
<% end %>

<%= link gettext("New feed"), to: feed_path(@conn, :new), class: "btn btn-primary btn-block" %>
